/* 1) CSS @import 사용 */
@import url('https://cdn.jsdelivr.net/npm/pretendard/dist/web/variable/pretendardvariable.css');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');

body {
    font-family: 'Pretendard', 'Noto Sans', 'Inter', sans-serif;
}

/* .section2,
.section3,
.section5,
.section6,
.section7,
.section8,
footer {
    margin-top: 100px;
}
.section2 .inner,
.section3 .inner,
.section5 .inner,
.section6 .inner,
.section7 .inner,
.section8 .inner,
footer .inner {
    padding: 0 307px;
}
.section2 .inner h2,
.section3 .button-bar h2,
.section5 .inner h2,
.section6 h2,
.section7 .inner h2 {
    color: #000;
    font-family: 'Pretendard', 'Noto-snans', 'Inter';
    font-size: 20px;
    font-weight: 600;
    line-height: 22px;
} */
