/* 1) CSS @import 사용 */
@import url('https://cdn.jsdelivr.net/npm/pretendard/dist/web/variable/pretendardvariable.css');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');

body {
    font-family: 'Pretendard', 'Noto Sans', 'Inter', sans-serif;
}
