header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
header .inner {
    width: 1400px;
    height: 100px; /* 헤더의 전체 높이 결정 */
    display: flex;
    align-items: center;
    justify-content: space-between; /* 로고는 왼쪽, 검색창은 오른쪽 */
    position: relative; /* ★ GNB 배치의 기준점이 됨 */
}
header .gnb {
    position: absolute; /* ★ 부모(inner)를 기준으로 공중에 띄움 */
    left: 50%; /* 부모의 50% 지점으로 이동 */
    top: 50%; /* 부모의 50% 지점(세로)으로 이동 */
    transform: translate(-50%, -50%); /* 본인 크기의 절반만큼 역이동하여 완벽한 중앙 정렬 */
    z-index: 10; /* 다른 요소보다 위에 오도록 설정 */
}

header .gnb .menu {
    display: flex;
    gap: 40px; /* 메뉴 간격 */
    list-style: none;
    margin: 0;
    padding: 0;
}
header .gnb .main-link {
    position: relative;
    display: block;
    font-size: 17px;
    font-weight: 500;
    color: #252525;
    text-decoration: none;
    transition: color 0.3s ease;
}
header .gnb .menu-item:hover > .main-link {
    color: #08d1d9;
}
header .gnb .menu-item {
    position: relative;
}
header .inner .logo-menu {
    display: flex;
    align-items: center;
    gap: 40px;
}
.menu-trigger {
    width: 25px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-shrink: 0;
}
.menu-trigger span {
    width: 100%;
    height: 4px;
    background-color: #7e55c6;
    border-radius: 4px;
}
header .inner .logo-menu .img {
    display: block;
}
.search-wrapper {
    display: flex;
    align-items: center;
}
.search-field {
    position: relative;
    width: 230px;
    height: 34px;
    border: 2px solid #252525;
    border-radius: 20px;
    background-color: #fff;
    transition: all 0.4s;
    overflow: hidden;
}
.search-field:focus-within {
    width: 320px;
    border-color: #252525;
}
.search-field input {
    width: 100%;
    height: 100%;
    padding: 0 44px 0 14px;
    border: none;
    outline: none;
    font-size: 14px;
    background: transparent;
}
.search-field .btn-search {
    all: unset;
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search-field .btn-search img {
    width: 21px;
    height: 21px;
    display: block;
}

/* ////메인메뉴 hover 관련////// */
header .gnb .main-link::after {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: #08d1d9;
    transform: translateX(-50%);
    transition: width 0.25s ease;
}
.menu-item:hover .main-link::after {
    width: 100%;
}

/* ///////////////////// */
/* /////서브메뉴///// */
/* ////////////////// */
/* 서브메뉴 가로정렬을 위해 추가한 css */
header .gnb .sub-menu {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%) translateY(10px) !important;
    z-index: 1000;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;

    margin: 0;
    padding: 20px 40px !important;

    width: max-content;
    white-space: nowrap;

    background: #7e55c6;
    border-radius: 0 0 16px 16px;
}
header .gnb .menu-item:hover > .sub-menu {
    display: flex !important;
    flex-direction: row !important;
}
header .gnb .sub-menu::before {
    content: '';
    position: absolute;
    top: -15px; /* margin-top 크기만큼 위로 영역 확장 */
    left: 0;
    width: 100%;
    height: 15px;
    background: transparent;
}
header .gnb .sub-menu li {
    list-style: none;
}
header .gnb .sub-menu li a {
    color: #fff;
    font-size: 15px;
    line-height: 1.8;
    text-decoration: none;
    transition: color 0.25s ease;
    position: relative;
    padding-bottom: 2px;
    display: block; /* 링크 영역 확보 */
}
header .gnb .sub-menu li a:hover {
    color: #08d1d9;
}
header .gnb .sub-menu li a::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);

    width: 0;
    height: 2px;
    background-color: #08d1d9;
    transition: width 0.3s ease;
}
header .gnb .sub-menu li a:hover::after {
    width: 100%;
}
/* ///////////////////////////////////// */
/* //////최상위 메뉴 hearderTop///////// */
/* ///////////////////////////////////// */
header .hearderTop {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: flex-end;
    margin-top: 3px;
    right: 260px;
}
header .hearderTop a {
    border-right: 1px solid #ddd;
    display: inline-block;
    padding: 0 12px;
    font-size: 12px;
    text-decoration: none;
    transition: color 0.3s;
    /* 안보일때 해결책1 */
    position: relative;
    cursor: pointer;
    z-index: 20;
}
.hearderTop a:last-child {
    border-right: none;
}
header .hearderTop a:hover {
    color: #08d1d9;
}
header .hearderTop a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: #08d1d9;
    /* 변경  relative->absolute*/
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: 0.3s;
}

header .hearderTop a:hover::after {
    width: 70%;
}
.no-data-box {
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}
