/* 1) CSS @import 사용 */
@import url('https://cdn.jsdelivr.net/npm/pretendard/dist/web/variable/pretendardvariable.css');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');

body {
    font-family: 'Pretendard', 'Noto Sans', 'Inter', sans-serif;
}
.section1 {
    min-height: 417px;
}
.section1 .product-list {
    min-height: 290px;
}
.section1 h2 {
    font-size: 21px;
    font-weight: 700;
    color: #333;
    margin-bottom: 40px;
    margin-left: 0;
}
/* ///////카드 이미지 규격 설정///////// */
.section1 .product-list img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    display: block;
    border-radius: 10px;
    margin-bottom: 10px;
}

.section1 .product-list a {
    text-decoration: none;
}
.section1 .filter-list {
    display: flex;
    height: 36px;
    align-items: center;
    gap: 11px;
    align-self: stretch;
    list-style: none;
    margin-bottom: 21px;
    margin-left: 0;
}
.section1 .product-list {
    list-style: none;
    display: flex;
    gap: 35px;
    padding: 0;
    margin: 0;
}
.section1 .filter-list button {
    background-color: transparent;
}

.section1 .product-list .text-box01 {
    padding: 0 20px;
}
.section1 .product-list .text-box01 .card-label {
    color: #c0c0c0;
    font-family: 'Pretendard', 'Noto-snans', 'Inter';
    font-size: 12px;
    font-weight: 400;
    border-radius: 20px;
    border: 1px solid #c0c0c0;
    padding: 5px 16px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    margin-bottom: 7px;
}
.section1 .product-list .text-box01 p {
    margin: 0;
    line-height: 16px;
}
.section1 .product-list .text-box01 .card-title {
    color: #000;
    font-family: 'Pretendard', 'Noto-snans', 'Inter';
    font-size: 16px;
    font-weight: 600;
    margin-top: 4px;
}
.section1 .product-list .text-box01 .card-exp {
    color: #5e5e5e;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    margin-top: 4px;
}
.section1 .product-list .text-box01 .price {
    color: #000;
    font-size: 16px;
    line-height: 22px;
    font-weight: 600;
    margin-top: 5px;
}
.filter-list li {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section1 .button-bar .filter {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 11px;
    list-style: none;
    padding: 0;
    margin: 0;
    /* margin-top: 40px; */
    margin-bottom: 21px;
}
.filter-list button img {
    width: 20px;
    height: 20px;
    display: block;
}
.filter-list button {
    height: 36px;
    padding: 10px 20px;
    box-sizing: border-box;
    font-family: 'Pretendard', 'Noto-snans', 'Inter';
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 20px;
    border: 1px solid #d9d9d9;
    background: #f6f7f8;
    color: #c0c0c0;
    font-size: 12px;
    margin-bottom: 7px;
}
.filter-list button span {
    font-family: 'Pretendard', 'Noto-snans', 'Inter';
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    color: #a2a7ac;
    cursor: pointer;
}
/* /////////////가운데정렬//////////////// */
.section1 .inner {
    max-width: var(--inner-width);
    margin: 0 auto;
    margin-top: 70px;
}
/* /////더보기 버튼//////// */
.section1 .sec01_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section1 .inner .more {
    position: relative;
    width: 82px;
    height: 32px;
    border-radius: 20px;
    z-index: 0;
    font-size: 14px;
    background: #5e2bb8;
    color: #fff;
    border: none;
    cursor: pointer;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
}

.section1 .inner .more::before {
    content: '';
    position: absolute;
    inset: 0;
    background: #08d1d9;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.35s ease;
    z-index: -1;
}

.section1 .inner .more span {
    position: relative;
    z-index: 1;
}

.section1 .inner .more:hover::before {
    transform: scaleX(1);
}
